* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2rem;
}

p {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

h6 {
  font-size: 1.2rem;
}

.team {
  padding: 4rem 8rem;
  row-gap: 6rem;
}

.team,
.team__header,
.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__header,
.team__member {
  row-gap: 2rem;
}

.team__subtitle {
  color: #0000ff;
}

.team__content {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  color: #fff;
}

.team__member {
  background-color: #06283d;
  border-radius: 2rem;
  padding: 3rem 2rem;
}

.member__image {
  margin-top: -8rem;
  height: 16rem;
  width: 16rem;
}

.member__image img {
  border-radius: 50%;
  border: 4px solid white;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member__social {
  display: flex;
  justify-content: space-between;
  column-gap: 1.3rem;
}

.fa-brands {
  padding: 1.2rem;
  background-color: #08324c;
  border-radius: 50%;
  font-size: 1.4rem;
}

.team__content > .team__member:first-of-type > .member__image img {
  object-position: right center;
}
