* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

h4 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.4rem;
}

.cart {
  padding: 6rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 6rem;
}

.cart__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.products {
  grid-row: 2 / 3;
}

.product {
  display: grid;
  grid-template-columns: 15rem repeat(3, 1fr);
  column-gap: 2rem;

  padding: 4rem 0;
  border-bottom: 1px solid rgba(0 0 0 / 0.2);
}

.product__image {
  height: 15rem;
  width: 15rem;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.product__info {
  display: grid;
  grid-template-rows: repeat(4, min-content) 1fr;
  row-gap: 0.8rem;
}

.product__info .actions {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 3rem;

  align-self: end;
}

.product__info .actions > input {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.3rem;
  border-radius: 0.4rem;
}

.product__cost,
.product__quantity {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 0.8rem;
}

.cost__price {
  font-weight: 600;
}

.product__quantity input {
  justify-self: start;
  width: 8rem;
  padding: 0.6rem 0.6rem;
  outline: none;
  border-radius: 0.4rem;
  border: 1px solid lightgray;
}

.product__color,
.product__size {
  color: lightgray;
}

.product__availability_avaliable {
  color: #90ee9e;
}

.coupon {
  grid-row: 2 / 3;

  display: grid;
  grid-template-rows: repeat(6, min-content);
  row-gap: 2.2rem;
}

.coupon fieldset {
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 0.8rem;
  border: none;
}

.coupon fieldset input {
  outline: none;
  font-size: 1.6rem;

  padding: 1.2rem;
  border-radius: 0.4rem;
}

.coupon-field {
  border: 1px solid #c2c2c2;
}

.coupon-apply {
  background-color: #0000ff;
  border: none;
  color: #fff;
}

.summary {
  padding: 2rem 0;

  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(3, min-content);
  row-gap: 1.4rem;

  border-bottom: 1px solid rgba(0 0 0 / 0.2);
}

.subtotal,
.shipping,
.discount {
  white-space: nowrap;
  font-weight: 600;

  grid-column: 1 / 2;
}

.subtotal__price,
.shipping__price,
.discount__price {
  grid-column: 3 / 4;
  font-weight: 600;
}

.total {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.total__price {
  grid-column: 3 / 4;
}

.checkout-btn {
  background-color: #0000ff;
  padding: 0.8rem;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

.free {
  justify-self: center;
}

.free span {
  color: #ff6347;
}
