* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --main-color: #06283d;
  --secondary-color: #0a476d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h5 {
  color: #7e7e7e;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 3rem;

  background-color: var(--main-color);
}

.footer__content {
  padding: 1rem 0 5rem;
  display: flex;
  justify-content: space-between;
}

.footer__location {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.footer__location > div {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.footer__categories,
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.footer__categories > ul,
.footer__links > ul {
  list-style: none;

  display: flex;
  flex-direction: column;

  row-gap: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

fieldset {
  border: none;
  display: flex;
  column-gap: 0.8rem;
}

.footer__newsletter input {
  border: 1px solid #7e7e7e;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  outline: none;
  background-color: transparent;
}

.email-field {
  color: #fff;
  flex-basis: 70%;
}

.subscribe-field {
  flex-basis: 30%;
  color: #fff;

  transition: all 0.3s ease-in-out;
}

.subscribe-field:hover {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  color: black;

  transition: all 0.3s ease-in-out;
}

a {
  color: #fff;
  text-decoration: none;
}

.rights {
  display: flex;
  justify-content: space-between;

  padding: 1.6rem 3rem;
  background-color: var(--secondary-color);
  border-radius: 0.4rem;
  box-sizing: 2px 1px 2px black;
}

.rights > div {
  display: flex;
  column-gap: 1.6rem;
}

i {
  font-size: 1.6rem;
}
